<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Acme\Magic\Model\Wizard">
        <plugin name="acme_magic_p" type="Acme\Magic\Plugin\P" sortOrder="10"/>
    </type>
</config>
