<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Acme\Neverr\Model\Hard">
        <plugin name="acme_neverr_p" type="Acme\Neverr\Plugin\P" sortOrder="10"/>
    </type>
</config>
